// Variabel font
$font-stack: Verdana, sans-serif;

// Variabler "color functions"
$primary-blue: #192631;
$dark-blue: darken($primary-blue, 10%);
$light-blue: lighten($primary-blue, 10%);

// Variabler färger
$black: #000;
$white: #fff;
$beige: beige;
$grey: #1a1a1a;

// Variabler ljust tema
$primary-text-header-footer: $white;
$primary-heading: $light-blue;
$primary-text: $black;
$primary-bg: $beige;
$primary-heading: $dark-blue;

// Variabler mörkt tema
$primary-text-darkm: $white;
$primary-bg-darkm: $grey;
$primary-heading-darkm: $white;