@use 'base';

@keyframes colorChangeBar {

    0% {
        background-color: base.$light-blue;
    }

    50% {
        background-color: base.$primary-blue;
    }

    100% {
        background-color: base.$dark-blue;
    }
}


@keyframes btnHover {

    0% {
        background-color: base.$light-blue;
    }

    50% {
        background-color: base.$primary-blue;
    }

    100% {
        background-color: base.$dark-blue;
    }
}
