@use 'base';


// Linje som ändrar färg (under header)

@keyframes colorChangeBar {

    0% {
        background-color: base.$light-blue;
    }

    50% {
        background-color: base.$primary-blue;
    }

    100% {
        background-color: base.$dark-blue;
    }
}


// Knapp som ändrar färg

@keyframes btnHover {

    0% {
        background-color: base.$light-blue;
    }

    50% {
        background-color: base.$primary-blue;
    }

    100% {
        background-color: base.$dark-blue;
    }
}
