@use 'base';
@use 'keyframes';

* {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 0px;
    padding: 0px;
    background-color: base.$primary-bg;
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: base.$primary-blue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation a {
    color: base.$primary-text-header-footer;
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

nav {
    background-color: base.$primary-blue;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 100px;
    height: 50vh;
    width: 250px;
    display: none;
    z-index: 999;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 1em 0;
    width: 100%;
}

nav a {
    color: base.$primary-text-header-footer;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    background-color: base.$light-blue;
    cursor: pointer;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$primary-blue;
    border: base.$white solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$light-blue;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$primary-text-header-footer;
    margin: 5px 0;
}

.menu-text {
    font-size: 1em;
    color: base.$primary-text-header-footer;
}

.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

.logo {
    display: block;
    justify-content: left;
    position: relative;
    width: 90%;
    height: auto;
}

/* Justera för fixerad header */
main {
    margin-top: 100px; 
}

:target::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

body {
    background-color: base.$primary-bg;
    font: 100% base.$font-stack;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.8em;
    max-width: 1512px;
    width: 100%;
    margin: 0 auto 0 auto;
}

h1 {
    font: 100% base.$font-stack;
    margin: 0 auto 0 auto;
    font-size: 2em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 1.4em;
    text-align: center;
    color: base.$primary-heading;
}

h2 {
    font: 100% base.$font-stack;
    font-size: 1.2em;
    padding-bottom: 2vh;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 0 auto;
}

p {
    display: block;
    justify-content: center;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.8em;
    text-align: left;
    color: base.$primary-text;
}

ul {
    margin: 0 auto 0 auto;
    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
    color: base.$primary-text;
    max-width: 550px;
}

.hero-container-large {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 80%;
}

.hero-container-small {
    display: none;
}

.hero-container-large-adm {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 60%;
}

.hero-container-small-adm {
    display: none;
}

.food-container-large {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 50%;
}

.food-container-small {
    display: none;
}

.cat-container-large {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 40%;
}

.cutlery-container {
    margin-top: 10vh;
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 70px;
}

.cafe-container-large {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 50%;
}

.cafe-container-small {
    display: none;
}

.map-container {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.text-container {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 1.8em;
    color: base.$primary-text;
    width: 50%;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.form-container {
    display: block;
    justify-content: center;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 1.8em;
    color: base.$primary-text;
    width: 30%;
}

form {
    text-align: left;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

textarea {
    width: 100%;
    height: 10vh;
    padding: 5px;
    border-radius: 4px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.text {
    color: base.$primary-text;
}

img {
    height: auto;
    margin: 0 auto 0 auto;
    width: 100%;
}

#map {
    height: 450px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: block;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    line-height: 2em;
    height: auto;
    background-color: base.$primary-blue;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    height: auto;
    font-weight: 400;
    max-width: 1512px;
}

.footer-container-left {
    font-size: 0.9em;
    line-height: 2em;
    height: auto;
    text-align: left;
    font-weight: 400;
    max-width: 1512px;
}

.footer-container-right {
    font-size: 0.9em;
    line-height: 2em;
    height: auto;
    text-align: right;
    font-weight: 400;
    max-width: 1512px;
}

.footer-container-center {
    font-size: 0.9em;
    line-height: 2em;
    height: auto;
    text-align: left;
    font-weight: 400;
    max-width: 1512px;
}

footer a {
    color: base.$primary-text-header-footer;
}

footer p {
    color: base.$primary-text-header-footer;
    text-align: left;
}

.space1 {
    height: 2vh;
}

.space2 {
    height: 1vh;
}

.space3 {
 height: 10vh;
}

.space4 {
    height: 5vh;
   }

p {
    margin-left: 5vw;
    margin-right: 5vw;
}

.message-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 0.8em;
        color: base.$primary-text;
        width: 100%;
        height: auto;
        padding-top: 2vw;
        padding-bottom: 3vw;
}

.fa-solid {
    color: white;
}

.logoutBtn {
    font-size: 1em;
    color: base.$primary-text-header-footer;
    background-color: base.$primary-blue;
    border: none;
}

/* Fönster som öppnas med formulär att lägga till i menyn */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Animeringar */

// Animering - linje som ändrar färg automatiskt
.colorChangeBar {
    width: 100%;
    max-width: 1512px;
    height: 1vh;
    background-color: base.$primary-blue;
    margin: 0 auto 0 auto;
    animation: colorChangeBar 10s 2s infinite alternate both ease-out;
}

// Animering - knapp som ändrar färg vid hover
.button {
    background-color: base.$primary-blue;
    color: white;
    margin-top: 0.5vh;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.8em;
}

.button:hover {
    animation: btnHover 2s 0s infinite both ease-out;
}

/* Media queries */

/* dark mode */
@media (prefers-color-scheme: dark) {

    .grid-container {
        background-color: base.$primary-bg-darkm !important;
    }

    .text-container {
        color: base.$primary-text-darkm !important;
    }

    .text-container p {
        color: base.$primary-text-darkm !important;
    }

    .footer-container {
        color: base.$primary-text-darkm !important;
    }

    .footer-container p {
        color: base.$primary-text-darkm !important;
    }

    body {
        background-color: base.$primary-bg-darkm !important;
    }

    h1 {
        color: base.$primary-heading-darkm !important;
    }

    h2 {
        color: base.$primary-heading-darkm !important;
    }

    table,
    th,
    td {
        color: base.$primary-text-darkm !important;
    }

}

/* Större skärm - gör menyn som inline - fixerad header */
@media only screen and (min-width: 1024px) {

    @media only screen and (min-width: 1024px) {

        header {
            padding: 0 3em;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%; 
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .menu-btn {
            display: none;
        }
    
        #open-menu {
            display: none !important;
        }
    
        nav {
            display: block !important;
            position: static;
            box-shadow: none; 
            height: auto;
            font-size: 1em;
            width: auto;
        }
    
        nav ul {
            height: 100%;
        }
    
        nav li {
            display: inline;
            padding: 1.2em 0;
        }
    
        main {
            margin-top: 100px;
        }
    
        footer {
            margin-top: 50px;
        }
    }
}

/* Design för mediumstor skärm */
@media only screen and (max-width: 1024px) {

    .hero-container-large {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 100%;
    }

    .hero-container-small {
        display: none;
    }

    .hero-container-large-adm {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 100%;
    }
    
    .hero-container-small-adm {
        display: none;
    }

    .food-container-large {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }
    
    .food-container-small {
        display: none;
    }

    .cat-container-large {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 60%;
    }

    .cutlery-container {
        margin-top: 10vh;
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 70px;
    }

    .cafe-container-large {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }
    
    .cafe-container-small {
        display: none;
    }

    #map {
        height: 300px;
        width: 100%;
    }
    
    .map-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    .text-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
        color: base.$primary-text;
        width: 70%;
    }

    .form-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
        color: base.$primary-text;
        width: 50%;
    }
    
    form {
        text-align: left;
    }
    
    input[type=text] {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        margin-top: 0.5vh;
        margin-bottom: 1vh;
    }
    
    textarea {
        width: 100%;
        height: 10vh;
        padding: 5px;
        border-radius: 4px;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    p {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    footer {
        display: block;
        font-size: 0.9em;
        line-height: 2em;
        background-color: base.$primary-blue;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 100%;
        height: auto;
        text-align: left;
        font-weight: 400;
        max-width: 1512px;
    }
    
    .footer-container-left {
        font-size: 0.9em;
        line-height: 2em;
        height: auto;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: left;
        font-weight: 400;
        max-width: 1512px;
    }
    
    .footer-container-right {
        font-size: 0.9em;
        line-height: 2em;
        height: auto;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: left;
        font-weight: 400;
        max-width: 1512px;
    }
    
    .footer-container-center {
        font-size: 0.9em;
        line-height: 2em;
        height: auto;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: left;
        font-weight: 400;
        max-width: 1512px;
    }
    
    footer a {
        color: base.$primary-text-header-footer;
    }
    
    footer p {
        color: base.$primary-text-header-footer;
        text-align: left;
    }
}
    
/* Design för mobiltelefon */

@media only screen and (max-width: 600px) {

    .hero-container-large {
        display: none;
    }

    .hero-container-small {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }  

    .hero-container-large-adm {
        display: none;
    }
    
    .hero-container-small-adm {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 100%;
    }

    .food-container-large {
        display: none;
    }

    .food-container-small {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    .cat-container-large {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    .cutlery-container {
        margin-top: 10vh;
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 70px;
    }

    .cafe-container-large {
        display: none;
    }
    
    .cafe-container-small {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    #map {
        height: 300px;
        width: 100%;
    }
    
    .map-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    .text-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
        color: base.$primary-text;
        width: 80%;
    }

    .form-container {
        display: block;
        justify-content: center;
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
        color: base.$primary-text;
        width: 70%;
    }
    
    form {
        text-align: left;
    }
    
    input[type=text] {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        margin-top: 0.5vh;
        margin-bottom: 1vh;
    }
    
    textarea {
        width: 100%;
        height: 10vh;
        padding: 5px;
        border-radius: 4px;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
    
    p {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
}


